<div class="large-12 column">
  <h1>Landing Page</h1>
    <a class="button" href="/customer/login">Login</a>
    <a class="button" href="#">Join</a>
    <a class="button" href="/staff/login">Staff Login Here</a>
</div>


