<div class="large-12 column">
  <h1>Landing Page</h1>
  <form action=":id" method="get">
    <a class="button" href="login-customer.erb">Login</a>
    <label class = "button" for="login">Login</label>
    <input id= "login" type="submit">
    <label class = "button" for="join">Join</label>
    <input id= "join" type="submit">
    <label class = "button" for="staff-login">Staff Login Here</label>
    <input id= "staff-login" type="submit">
  </form>
</div>


