<!-- Orbit Slider -->
<div class="row">
  <div class="large-6 large-centered column">SLICK CAROUSEL GOES HERE</div>
</div>
<!-- Orbit Slider End -->

<div class="row">
  <div class="large-6 large-centered column">
    <div class="large-3 columns">
      <label for="left label" class="left inline">Username</label>
    </div>
    <div class="large-6 end column">
      <input type="text" id="right-label" placeholder="Username" />
    </div>
  </div>
</div>
<div class="row">
  <div class="large-6 large-centered column">
    <div class="large-3 columns">
      <label for="left label" class="left inline">Password</label>
    </div>
    <div class="large-6 end column">
      <input type="text" id="right-label" placeholder="Password" />
    </div>
  </div>
</div>
<div class='row'>
  <div class="large-6 large-centered columns">
    <div class="large-3 large-offset-3 column">
      <a href="#">Join</a>
    </div>
    <div class="large-3 end column">
      <a class="tiny button" href="#">Sign In</a>
    </div>
  </div>
</div>



