<div class="row">
  <div class="large-6 large-centered columns panel">
    <h1>Thank You For Your Order!</h1>
    <h4>Order #</h4>
    <table>
      <thead>
        <tr>
          <th width="200">Item</th>
          <th width="100">Quantity</th>
          <th width="100">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Item Content</td>
          <td>Quantity Content</td>
          <td>Price Content</td>
        </tr>
        <tr>
          <td>Item Content</td>
          <td>Quantity Content</td>
          <td>Price Content</td>
        </tr>
        <tr>
          <td>Item Content</td>
          <td>Quantity Content</td>
          <td>Price Content</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th width="200"></th>
          <th width="200"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Subtotal</td>
          <td>Subtotal Price</td>
        </tr>
        <tr>
          <td>Tax</td>
          <td>Tax Price</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>Total Price</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


